{% extends 'commonNAVaccount.html' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

<style>
    .success {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .text-red-500 {
        color: #f56565;
    }
    .text-sm {
        font-size: 0.875rem;
    }
    .mt-1 {
        margin-top: 0.25rem;
    }
</style>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="max-w-lg mx-auto bg-white rounded-lg shadow-md p-6 mt-28">
    <h1 class="text-2xl font-bold mb-4">Edit product</h1>
    <form action="{% url 'update_product' item.id %}" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <input type="text" name="name" value="{{ item.name }}" placeholder="Product name" class="mr-2 p-2 border rounded-lg"> 
            {% if form.name.errors %}
            <div class="text-red-500 text-sm mt-1">
                {% for error in form.name.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}              
        </div>
        <div class="mb-4">
            <label for="expiration_date" class="block text-sm font-medium text-gray-700">Expiration Date</label>
            <input type="date" name="expiration_date" id="expiration_date" value="{{ item.expiration_date|date:'Y-m-d' }}" class="mt-1 p-2 border rounded-lg">
        </div>
        <div class="mb-4">
            <label for="Food_Category" class="block text-sm font-medium text-gray-700">Food Category</label>
            <input type="text" name="category" value="{% if item.category %}{{ item.category }}{% else %}{% endif %}" placeholder="Category" class="mr-2 p-2 border rounded-lg">
        </div>
        <div class="flex space-x-4 mb-4">
            <div class="w-1/2">
                <label for="storage_location" class="block text-sm font-medium text-gray-700">Storage Location</label>
                <select name="storage_location" class="mr-2 p-2 border rounded-lg w-full">
                    <option value="Pantry">Pantry</option>
                    <option value="Fridge">Fridge</option>
                    <option value="Freezer">Freezer</option>
                    <option value="Spices">Spices</option>
                    <option value="Beverages">Beverages</option>
                    <option value="Other">Other</option>
                </select> 
            </div>
            <div class="w-1/2">
                <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
                <select name="status" id="status" class="mr-2 p-2 border rounded-lg w-full">
                    <option value="New" {% if item.status == 'New' %}selected{% endif %}>New</option>
                    <option value="Opened" {% if item.status == 'Opened' %}selected{% endif %}>Opened</option>
                </select>
            </div>
        </div>
        <div class="mb-4">
            <label for="quantity" class="block text-sm font-medium text-gray-700" min="0">Quantity</label>
            <input type="number" name="quantity" value="{{ item.quantity }}" placeholder="Quantità" class="mr-2 p-2 border rounded-lg">
            <select name="unit_of_measure" class="mr-2 p-2 border rounded-lg">
                <option value="L" {% if item.unit_of_measure == 'L' %}selected{% endif %}>Litres</option>
                <option value="g" {% if item.unit_of_measure == 'g' %}selected{% endif %}>Grams</option>
                <option value="u" {% if item.unit_of_measure == 'u' %}selected{% endif %}>Units</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="hidden" name="always_in_stock" value="False">
                <input type="checkbox" name="always_in_stock" value="True" class="form-checkbox h-5 w-5 text-blue-600" {% if item.always_in_stock %}checked{% endif %}>
                <span class="ml-2 mr-2 text-gray-700">Always in stock</span>
            </label>
        </div>
        <div class="mb-4">
            <label for="notes" class="block text-sm font-medium text-gray-700">Notes</label>
            <textarea name="notes" placeholder="Notes" class="p-2 border rounded-lg w-full">{{ item.notes }}</textarea>
        </div>
        <input type="submit" value="Save edits" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">
    </form>
</div>

{% endblock %}