{% extends 'commonNAVaccount.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="flex-1 px-4 py-8 mx-auto mt-20">
    <h2 class="text-xl font-bold mb-4">Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="w-full px-2 mb-4">
            <input type="submit" value="Change Password" class="bg-green-400 text-white py-2 px-4 rounded-lg shadow-md hover:bg-green-500 cursor-pointer transition duration-300 w-full">
        </div>
    </form>
</div>
{% endblock %}
